@import './variables.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-family: 'Montserrat';
    font-size: 35px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 21px;
    font-weight: 500;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

svg {
    cursor: pointer;
}

input[type='text'] {
    font-size: 14px;
    border: 1px solid var(--border-color);
    background-color: transparent;
    width: 270px;
    padding: 8px;
}

input[type='text']::placeholder {
    color: var(--text-color-disabled);
}

input[type='text']:focus {
    outline: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 44px;
    height: 50px;
    background-color: var(--button-color);
    border: none;
    color: var(--button-color-secondary);
    font-weight: 500;
    cursor: pointer;
}

button:active {
    background-color: var(--button-color-selected);
}

button.secondary {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--border-color);
    padding: 0 16px;
}

button.secondary:active {
    background-color: var(--button-color-secondary-selected);
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.3s ease;
}
.v-enter-from,
.v-leave-to {
    opacity: 0;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 32px;
    }
}

@media (max-width: 540px) {
    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 19.2px;
    }
}
