:root {
    --text-color: #000000;
    --text-color-secondary: #909090;
    --text-color-tertiary: #f0f0f0;
    --text-color-disabled: #c2c3c5;
    --text-color-success: #49c747;
    --text-color-white: #ffffff;
    --background-color: #e7eff1;
    --background-color-secondary: #f7f7f7;
    --background-color-input: #f4f4f4;
    --background-color-modal: rgba(0, 0, 0, 0.299);
    --button-color: #e6395e;
    --button-color-selected: #be2f4e;
    --button-color-secondary: #fffefe;
    --button-color-secondary-selected: rgba(0, 0, 0, 0.037);
    --border-color: #e5e5e5;
    --content-width: 60.938vw;
}
