:root {
    --text-color: #000000;
    --text-color-secondary: #909090;
    --text-color-disabled: #c2c3c5;
    --background-color: #e7eff1;
    --background-color-secondary: #f7f7f7;
    --modal-background-color: rgba(0, 0, 0, 0.299);
    --content-width: calc(60.938vw);
}
